:root {
    --container-bg: #FFFFFF;
    --card-bg:      #FFFFFF;
    --card-border:  #3fad48;
    --correct:      #4bd888;
    --incorrect:    #d03237;
}

* {
    box-sizing: border-box;
    margin: 0;

    font-family: "IPA Gothic", sans-serif;
}

body {
    min-height: 100vh;
}

header, main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 8px;

    h1 {
        font-size: 2.4rem;
    }

    p {
        font-size: 1.2rem;
    }
}

.main-controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    .control-section {
        display: flex;
        flex-direction: row;
        gap: 4px;

        font-size: 1.5rem;

        input[type="number"] {
            -moz-appearance: textfield;
            appearance: textfield;
            text-align: center;
            font-size: 1.2rem;
            width: 48px;
            height: 32px;
        }

        input[type="checkbox"] {
            transform: scale(1.33);
            margin: 0 4px;
        }

        #start-button {
            width: 72px;
            height: 32px;

            p {
                font-size: 1.33rem;
            }
        }
    }
}

.main-block {
    margin: 18px 0;
}

.shimonoku-card {
    width: 210px;
    height: 300px;
    position: relative;
    overflow-x: hidden; /* exactly ONE card doesnt fit like the others. fun. */

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    padding: 18px 0px;

    background-color: var(--card-bg);
    border: 8px solid var(--card-border);

    p.shimonoku {
        width: 100%;
        height: 100%;
        writing-mode: vertical-rl;
        text-orientation: upright;
        letter-spacing: 16px;
        font-size: 32px;
        line-height: 2;
    }

    p.kimariji {
        display: none;
        position: absolute;
        writing-mode: vertical-rl;
        text-orientation: upright;
        letter-spacing: 16px;
        font-size: 72px;
        line-height: 1.2em;
        color: var(--incorrect);
        opacity: 0.80;
        font-weight: bold;
        text-align: center;
    }

    p.number-indicator {
        position: absolute;
        bottom: 6px;
        left: 6px;
        font-size: 20px;
    }
}

.card-container {
    width: 258px;

    padding: 24px;
    background-color: var(--container-bg);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;

    .kimariji-input {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        input[type="text"] {
            width: 100%;
            height: 48px;
            font-size: 20px;
            text-align: center;
        }
    }
}

@keyframes correct-pulse {
    from {
        background-color: var(--correct);
        border-color: var(--correct);
        transform: translateY(-5%);
    }

    to {
        background-color: var(--card-bg);
        border-color: var(--card-border);
    }
}

@keyframes incorrect-pulse {
    from {
        background-color: var(--incorrect);
        border-color: var(--incorrect);
    }

    to {
        background-color: var(--card-bg);
        border-color: var(--card-border);
    }
}

@keyframes incorrect-shake {
    0%   { transform: translateX(0);    }
    25%  { transform: translateX(-3%);  }
    50%  { transform: translateX(0);    }
    75%  { transform: translateX(3%);   }
    100% { transform: translateX(0);    }
}

.card-container.correct {
    .shimonoku-card {
        animation-name: correct-pulse;
        animation-duration: 1.33s;
        animation-iteration-count: 1;
        animation-timing-function: ease;

        p.shimonoku {
            opacity: 0.33;
        }

        p.kimariji {
            display: block;
        }
    }
}

.card-container.incorrect .shimonoku-card {
    animation-name: incorrect-pulse, incorrect-shake;
    animation-duration: 1.33s, 0.3s;
    animation-iteration-count: 1, 2;
    animation-timing-function: ease, ease-out;
}

#quiz-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 12px;

    .quiz-inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .quiz-results {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .results-header {
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 12px;
            text-align: right;
            font-size: 1.4rem;
        }
    }

    .quiz-footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
}